
                <ul class="productGrid">
                    <li class="product">
                        <article class="card">
                            <h4>
                                <a href="/aluminum-fishing-boat-covers/">Aluminum Fishing Boats</a>
                            </h4>
                            <a href="/aluminum-fishing-boat-covers/">
                                <img src="{{cdn 'img/category-page_06.jpg'}}">
                            </a>
                            <p style="font-size: 11.5px"><strong>Includes:<br></strong>
Aluminum jet boats<br>
Northwest style fishing boats<br>
V-hulls with walk-thru windshields
</p>
                        </article>
                    </li>
                    <li class="product">
                        <article class="card">
                            <h4>
                                <a href="/bay-style-boat-covers/">Bay Style Boats</a>
                            </h4>
                            <a href="/bay-style-boat-covers/">
                                <img src="{{cdn 'img/category-page_08.jpg'}}">
                            </a><p style="font-size: 11.5px"><strong>Includes:<br></strong>
Bay boats with T-Tops<br>
Shallow draft bay boats<br>
Center console bay boats
</p>
                        </article>
                    </li>
                    <li class="product">
                        <article class="card">
                            <h4>
                                <a href="/bass-boat-covers/">Bass Boats</a>
                            </h4>
                            <a href="/bass-boat-covers/">
                                <img src="{{cdn 'img/category-page_10.jpg'}}">
                            </a><p style="font-size: 11.5px"><strong>Includes:<br></strong>
Pro bass boats<br>
Jon style bass boats<br>
Angled transom bass boats
</p>
                        </article>
                    </li>
                    <li class="product">
                        <article class="card">
                            <h4>
                                <a href="/covers-for-boats-with-towers/">Boats With Towers</a>
                            </h4>
                            <a href="/covers-for-boats-with-towers/">
                                <img src="{{cdn 'img/category-page_12.jpg'}}">
                            </a><p style="font-size: 11.5px"><strong>Includes:<br></strong>
Tournament ski boats<br>
Runabouts with towers<br>
Deck boats with towers
</p>
                        </article>
                    </li>
                    <li class="product">
                        <article class="card">
                            <h4>
                                <a href="/boats-with-tower-over-the-tower-covers">Boat With Towers:<br>Over The Tower Covers</a>
                            </h4>
                            <a href="/boats-with-tower-over-the-tower-covers">
                                <img src="{{cdn 'img/category-page_14.jpg'}}">
                            </a><p style="font-size: 11.5px"><strong>Includes:<br></strong>
Tournament ski boats <br>
V-hull Runabouts with towers<br>
Deck boats with towers
</p>
                        </article>
                    </li>
                    <li class="product">
                        <article class="card">
                            <h4>
                                <a href="/boston-whaler-boat-covers">Boston Whaler Boats</a>
                            </h4>
                            <a href="/boston-whaler-boat-covers">
                                <img src="{{cdn 'img/category-page_21.jpg'}}">
                            </a><p style="font-size: 11.5px"><strong>Includes:<br></strong>
Cuddy cabin whaler boats<br>
Center console whaler boats<br>
Rounded bow whaler boats
</p>
                        </article>
                    </li>
                    <li class="product">
                        <article class="card">
                            <h4>
                                <a href="/center-console-boat-covers/">Center Console Boats</a>
                            </h4>
                            <a href="/center-console-boat-covers/">
                                <img src="{{cdn 'img/category-page_24.jpg'}}">
                            </a><p style="font-size: 11.5px"><strong>Includes:<br></strong>
V-hull center console fishing boats<br>
Bay style fishing boats<br>
Walk-around cuddy cabin boats
</p>
                        </article>
                    </li>
                    <li class="product">
                        <article class="card">
                            <h4>
                                <a href="/cruiser-boat-covers/">Cruisers</a>
                            </h4>
                            <a href="/cruiser-boat-covers/">
                                <img src="{{cdn 'img/category-page_22.jpg'}}">
                            </a><p style="font-size: 11.5px"><strong>Includes:<br></strong>
Day cruisers<br>
Low profile ski boats<br>
Performance style boats
</p>
                        </article>
                    </li>
                    <li class="product">
                        <article class="card">
                            <h4>
                                <a href="/cuddy-cabin-boat-covers/">Cuddy Cabin Boats</a>
                            </h4>
                            <a href="/cuddy-cabin-boat-covers/">
                                <img src="{{cdn 'img/category-page_26.jpg'}}">
                            </a><p style="font-size: 11.5px"><strong>Includes:<br></strong>
High profile cabin cruisers<br>
Low profile cuddy cabin boats<br>
Walk around cuddy cabin boats
</p>
                        </article>
                    </li>
                    <li class="product">
                        <article class="card">
                            <h4>
                                <a href="/deck-boat-covers/">Deck Boats</a>
                            </h4>
                            <a href="/deck-boat-covers/">
                                <img src="{{cdn 'img/category-page_27.jpg'}}">
                            </a><p style="font-size: 11.5px"><strong>Includes:<br></strong>
Deck boats with low rails<br>
Deck boats with side console<br>
Modified V performance deck boats
</p>
                        </article>
                    </li>
                    <li class="product">
                        <article class="card">
                            <h4>
                                <a href="/dinghy-boat-covers/">Square Bow Dinghy</a>
                            </h4>
                            <a href="/dinghy-boat-covers/">
                                <img src="/product_images/uploaded_images/fiber-dinghy-category.jpg">
                            </a><p style="font-size: 11.5px"><strong>Includes:<br></strong>
Fiberglass Dinghies<br><br><br>
</p>
                        </article>
                    </li>
                    <li class="product">
                        <article class="card">
                            <h4>
                                <a href="/drift-boat-covers/">Drift Boats</a>
                            </h4>
                            <a href="/drift-boat-covers/">
                                <img src="{{cdn 'img/category-page_33.jpg'}}">
                            </a><p style="font-size: 11.5px"><strong>Includes:<br></strong>
Aluminum drift boats<br>
Wooden drift boats<br><br>
</p>
                        </article>
                    </li>
                    <li class="product">
                        <article class="card">
                            <h4>
                                <a href="/inflatable-boat-covers/">Inflatables</a>
                            </h4>
                            <a href="/inflatable-boat-covers/">
                                <img src="{{cdn 'img/category-page_34.jpg'}}">
                            </a><p style="font-size: 11.5px"><strong>Includes:<br></strong>
Blunt nose inflatables<br>
Sport type inflatable boats<br>
Inflatables with center consoles
</p>
                        </article>
                    </li>
                    <li class="product">
                        <article class="card">
                            <h4>
                                <a href="/jet-boat-covers/">Jet Boats</a>
                            </h4>
                            <a href="/jet-boat-covers/">
                                <img src="{{cdn 'img/category-page_35.jpg'}}">
                            </a><p style="font-size: 11.5px"><strong>Includes:<br></strong>
Warped bottom jet boats<br>
Modified V jet boats<br>
Deep V bowriders
</p>
                        </article>
                    </li>
                    <li class="product">
                        <article class="card">
                            <h4>
                                <a href="/jon-boat-covers/">Jon Boats</a>
                            </h4>
                            <a href="/jon-boat-covers/">
                                <img src="{{cdn 'img/category-page_36.jpg'}}">
                            </a><p style="font-size: 11.5px"><strong>Includes:<br></strong>
Open jon boats<br>
Molded hull jon boats<br>
Jon boats with center consoles
</p>
                        </article>
                    </li>
                    <li class="product">
                        <article class="card">
                            <h4>
                                <a href="/personal-water-craft-covers/">Personal Water Crafts</a>
                            </h4>
                            <a href="/personal-water-craft-covers/">
                                <img src="{{cdn 'img/category-page_41.jpg'}}">
                            </a><p style="font-size: 11.5px"><strong>Includes:<br></strong>
Paddle boats<br>
Jet Skis<br><br>
</p>
                        </article>
                    </li>
                    <li class="product">
                        <article class="card">
                            <h4>
                                <a href="/pontoon-boat-covers/">Pontoon Boats</a>
                            </h4>
                            <a href="/pontoon-boat-covers/">
                                <img src="{{cdn 'img/category-page_42.jpg'}}">
                            </a><p style="font-size: 11.5px"><strong>Includes:<br></strong>
Fishing pontoon boats<br>
Luxury pontoon boats<br>
Party pontoon boats
</p>
                        </article>
                    </li>
                    <li class="product">
                        <article class="card">
                            <h4>
                                <a href="/runabouts-v-hull-tri-hull-boat-covers/">Runabouts</a>
                            </h4>
                            <a href="/runabouts-v-hull-tri-hull-boat-covers/">
                                <img src="{{cdn 'img/category-page_43.jpg'}}">
                            </a><p style="font-size: 11.5px"><strong>Includes:<br></strong>
Fish N Ski boats<br>
V-Hull runabouts<br>
Tri-Hull runabouts
</p>
                        </article>
                    </li>
                    <li class="product">
                        <article class="card">
                            <h4>
                                <a href="/tournament-ski-boat-covers/">Tournament Ski Boats</a>
                            </h4>
                            <a href="#">
                                <img src="{{cdn 'img/category-page_44.jpg'}}">
                            </a><p style="font-size: 11.5px"><strong>Includes:<br></strong>
Cruisers<br>
Euro tournament ski boats<br>
Low profile ski boats
</p>
                        </article>
                    </li>
                    <li class="product">
                        <article class="card">
                            <h4>
                                <a href="/v-hull-fishing-boat-covers/">V-Hull Fishing Boats</a>
                            </h4>
                            <a href="/v-hull-fishing-boat-covers/">
                                <img src="{{cdn 'img/category-page_45.jpg'}}">
                            </a><p style="font-size: 11.5px"><strong>Includes:<br></strong>
Flats boats<br>
Center console boats<br>
Fishing boats with T-Tops
</p>
                        </article>
                    </li>
                </ul>
