<div id="Footer">
  <div class="FooterColumns">
  <div class="innerheader">
    <div class="FootCol">
      <h6>Customer Service</h6>
      <ul>
        <li><a href="//www.savvyboater.com/about-us/">About Us</a></li>
        <li><a href="/contact-us/">Contact Us</a>
        </li>
      
        <!--<li><a onclick="pspikiow(); return false;" href="#">Live Chat</a>-->
        
        <li><a href="/account.php">Your Account</a>
        </li>
      </ul> <!-- BEGIN ProvideSupport.com Graphics Chat Button Code -->
<div id="ci0tiX" style="z-index:100;position:fixed"></div><div id="sc0tiX" style="display:inline"></div><div id="sd0tiX" style="display:none"></div><script type="text/javascript">var se0tiX=document.createElement("script");se0tiX.type="text/javascript";var se0tiXs=(location.protocol.indexOf("https")==0?"https":"http")+"://image.providesupport.com/js/0gxhvxueiok890ofzguvsz9fj6/safe-standard.js?ps_h=0tiX&ps_t="+new Date().getTime();setTimeout("se0tiX.src=se0tiXs;document.getElementById('sd0tiX').appendChild(se0tiX)",1)</script><noscript><div style="display:inline"><a href="http://www.providesupport.com?messenger=0gxhvxueiok890ofzguvsz9fj6">Live Chat</a></div></noscript>
<!-- END ProvideSupport.com Graphics Chat Button Code -->
    </div> 
    <div class="FootCol">
      <h6>Shipping &amp; Returns</h6>
      <ul>
        <li><a href="/shipping/#continental">Shipping to the US</a>
        </li>
        <li><a href="/shipping/#international">Shipping to Canada</a>
        </li>
        <li><a href="/shipping/#international">International Shipping</a>
        </li>
        <li><a href="/returns/">Returns &amp; Warranties</a>
        </li>
      </ul>
    </div>
    <div class="FootCol">
      <h6>Customer Resources</h6>
      <ul>
        <li><a href="//www.savvyboater.com/product-help-guides/">Product Help Guides</a>
        </li>
        <li><a href="/customer-testimonials/">Customer Testimonials</a>
        </li>
        <!--<li><a href="/privacy-policy/">Privacy Policy</a>-->
        <li><a href="/brands/">Shop Our Brands</a>
        </li>
        <li><a href="//savvyboater.com/blog/">Follow Our Blog</a>
        </li>
      </ul>
    </div>
    <div class="FootCol">
      <div class="adrs">
          <img src="https://res.cloudinary.com/www-savvyboater-com/image/upload/q_auto:good/v1558470847/homepage/logo-footer.jpg">
        <h2>866-560-1330</h2>
        <p>Monday - Friday</p>
        <p>7:00 am - 4:00 pm PST</p>
      </div>
    </div>
  </div>
  </div>

  <div class="social_sec">
    <div class="innerheader">
      <div class="FootCol">
      <div class="social_div">
        <ul class="SocialIcons">
          <li><a href="https://www.facebook.com/savvyboater" target="_blank"><img src="https://res.cloudinary.com/www-savvyboater-com/image/upload/q_auto:good/v1558470759/homepage/icon-facebook.jpg">
          </a></li>
          <li><a href="https://www.youtube.com/user/SavvyBoater" target="_blank"><img src="https://res.cloudinary.com/www-savvyboater-com/image/upload/q_auto:good/v1558470781/homepage/icon-youtube.jpg">
          </a></li>
          <li><a href="http://www.shopperapproved.com/reviews/savvyboater.com/" target="_blank"><img src="https://res.cloudinary.com/www-savvyboater-com/image/upload/q_auto:good/v1558470802/homepage/icon-shopper.png">
          </a></li>
          <li><a href="https://smarticon.geotrust.com/smarticonprofile?Referer=https://www.savvyboater.com" target="_blank"><img src="https://res.cloudinary.com/www-savvyboater-com/image/upload/q_auto:good/v1558470824/homepage/icon-geotrust.jpg">
          </a></li>

        </ul>

      </div>

    </div>
    </div>
  </div>
    <div class="FooterCopyright">
  <p>
    Copyright © {{moment format="YYYY"}} SavvyBoater - All Rights Reserved. 7291 SW Tech Center Dr. Tigard, OR 97223</p>
</div>
