<nav class="navUser">
    <div class="container">

        <ul class="navUser-section navUser-section--alt">
            {{#if customer.store_credit.value '>' 0}}
                <li class="navUser-item">
                    <a class="navUser-action navUser-action--storeCredit"
                       data-dropdown="storeCredit-dropdown"
                       data-options="align:bottom"
                       href="{{urls.cart}}">
                            <span class="navUser-action-divider">{{lang 'common.store_credit_overview' credit=customer.store_credit.formatted}}</span>
                    </a>
                    <div class="dropdown-menu" id="storeCredit-dropdown" data-dropdown-content aria-hidden="true">
                        {{{lang 'common.store_credit' store_credit=customer.store_credit.formatted}}}
                    </div>
                </li>
            {{/if}}
            <li class="navUser-item">
                <a class="navUser-action navUser-item--compare" href="{{urls.compare}}" data-compare-nav>{{lang 'common.compare'}} <span class="countPill countPill--positive countPill--alt"></span></a>
            </li>    
            <li class="navUser-item navUser-Search">
                {{> components/common/search-box}}
            </li>            
            <li class="navUser-item MyAccountLinks">
                <a class="myaccountBtn navUser-action" href="#">
                   <i class="fas fa-bars"></i>
                </a>
                <ul>
                    {{#if customer.store_credit.value '>' 0}}
                        <li>
                            <a class="navUser-action navUser-action--storeCredit"
                               data-dropdown="storeCredit-dropdown"
                               data-options="align:bottom"
                               href="{{urls.cart}}">
                                    <span class="navUser-action-divider">{{lang 'common.store_credit_overview' credit=customer.store_credit.formatted}}</span>
                            </a>
                            <div class="dropdown-menu" id="storeCredit-dropdown" data-dropdown-content aria-hidden="true">
                                {{{lang 'common.store_credit' store_credit=customer.store_credit.formatted}}}
                            </div>
                        </li>
                    {{/if}}
                    {{#if customer}}
                        <li>
                            <a class="navUser-action" href="{{urls.account.index}}">{{lang 'common.account'}}</a>
                        </li>
                        <li>
                            <a class="navUser-action" href="{{urls.auth.logout}}">{{lang 'common.logout'}}</a>
                        </li>
                    {{else}}
                        <li>
                            <a class="navUser-action" href="{{urls.auth.login}}">{{lang 'common.login'}}</a>
                        </li>
                    {{/if}}
                    <li>
                        <a class="navUser-action" href="/contact-us/">{{lang 'Contact Us'}}</a>
                    </li>
                   
                    <li>
                        <a class="navUser-action" href="/returns-exchanges-warranty-claims/">{{lang 'Returns and Warranties'}}</a>
                    </li>
                    <li>
                        <a class="navUser-action" href="/savvyboater-shipping/#international">{{lang 'International Shipping'}}</a>
                    </li>
                </ul>
            </li>
            <li class="navUser-item navUser-item--cart">
                <a
                    class="navUser-action"
                    data-cart-preview
                    data-dropdown="cart-preview-dropdown"
                    data-options="align:right"
                    href="{{urls.cart}}">
                    <i class="fas fa-shopping-cart"></i>
                </a>

                <div class="dropdown-menu" id="cart-preview-dropdown" data-dropdown-content aria-hidden="true"></div>
            </li>
        </ul>
    </div>
</nav>
