<div class="container">
    {{{ snippet "forms_search"}}}
    <form class="form" action="{{urls.search}}">
        <fieldset class="form-fieldset">
            <div class="form-field">
                <label class="is-srOnly" for="search_query">{{lang "search.quick_search.input_label"}}</label>
                <input class="form-input" id="search_query" name="search_query_adv" placeholder="{{lang 'search.quick_search.input_placeholder'}}" autocomplete="off">
            </div>
        </fieldset>
    </form>
    <section class="quickSearchResults"></section>
</div>
