---
brands:
---

{{#partial "page"}}

<main class="page">
<p style="margin-top: 20px; font-size: 20px;">We are proud to carry the marine industry’s best brands for boat accessories. Our brands are chosen based on their quality, product selection, and customer service. Click on the logos below to learn more about the brand, or the product category links to browse their products.</p>
<div class="blue-title-left"><span>shop by brand</span></div>
<div class="brand-grid">
              <div class="brand-grid_brand">
                <a href="/bentleys/">
                  <img src="https://res.cloudinary.com/www-savvyboater-com/image/upload/f_auto,q_auto:good/v1559577311/products/bentleys-logo.jpg" alt="Bentley's Boat Seats Logo" data-pin-nopin="true">
                </a>
                <ul>
                  <li>Includes:</li>
                 <strong><li>Cruiser & Runabout Seats</li>
                  <li>Offshore Boat Seats</li>
                  <li>Seat Pedestals</li></strong>
                </ul>
              </div>
              <div class="brand-grid_brand">
                <a href="/carver-boat-covers-bimini-tops/">
                  <img src="https://res.cloudinary.com/www-savvyboater-com/image/upload/f_auto,q_auto:good/v1558636801/products/carver-logo-1.png" alt="Carver Boat Covers and Bimini Tops Logo" data-pin-nopin="true">
                </a>
                <ul>
                  <li>Includes:</li>
                  <strong><li><a href="/carver-boat-covers/" target="_blank">Boat Covers</a></li>
                  <li><a href="/carver-bimini-tops/" target="_blank">Bimini Tops</a></li>
                  <li>Outboard & Console Covers</li></strong>
                </ul>
              </div>
              <div class="brand-grid_brand">
                <a href="/garelick/">
                  <img src="https://res.cloudinary.com/www-savvyboater-com/image/upload/f_auto,q_auto:good/v1558636822/products/garelick-logo.jpg" alt="Garelick Boat Ladders Logo" data-pin-nopin="true">
                </a>
                <ul>
                  <li>Includes:</li>
                  <strong><li>Boat Seats</li>
                  <li>Boat Ladders</li></strong>
                </ul>
              </div>
              <div class="brand-grid_brand">
                <a href="/jif-marine/">
                  <img src="https://res.cloudinary.com/www-savvyboater-com/image/upload/f_auto,q_auto:good/v1558636839/products/jif-logo.jpg" alt="Jif Marine Boat Ladders Logo" data-pin-nopin="true">
                </a>
                <ul>
                  <li>Includes:</li>
                  <strong><li>Boat Ladders</li></strong>
                </ul>
              </div>
              <div class="brand-grid_brand">
                <a href="/kasco/">
                  <img src="https://res.cloudinary.com/www-savvyboater-com/image/upload/f_auto,q_auto:good/v1558636856/products/kasco-logo.jpg" alt="Kasco De-Icers Logo" data-pin-nopin="true">
                </a>
                <ul>
                  <li>Includes:</li>
                  <strong><li>De-Icers</li>
                  <li>Aerating Fountains</li>
                  <li>Water Circulators</li></strong>
                </ul>
              </div>
              <div class="brand-grid_brand">
                <a href="/michigan-wheel/">
                  <img src="https://res.cloudinary.com/www-savvyboater-com/image/upload/f_auto,q_auto:good/v1558636874/products/michigan-logo.png" alt="Michigan Wheel Boat Propellers Logo" data-pin-nopin="true">
                </a>
                <ul>
                  <li>Includes:</li>
                 <strong><li>Aluminum Boat Propellers</li>
                  <li>Stainless Steel Boat Props</li></strong>
                </ul>
              </div>
              <div class="brand-grid_brand">
                <a href="/polyform/">
                  <img src="https://res.cloudinary.com/www-savvyboater-com/image/upload/f_auto,q_auto:good/v1558636893/products/polyform-logo.jpg" alt="Polyform Boat Fenders and Buoys Logo" data-pin-nopin="true">
                </a>
                <ul>
                  <li>Includes:</li>
                  <strong><li>Boat Fenders</li>
                  <li>Buoys</li></strong>
                </ul>
              </div>
              <div class="brand-grid_brand">
                <a href="/power-house/">
                  <img src="https://res.cloudinary.com/www-savvyboater-com/image/upload/f_auto,q_auto:good/v1558636913/products/power-house-logo.jpg" alt="Power House Ice Eaters Logo" data-pin-nopin="true">
                </a>
                <ul>
                  <li>Includes:</li>
                  <strong><li>De-Icers</li>
                  <li>Aerating Fountains</li>
                  <li>Water Circulators</li></strong>
                </ul>
              </div>
              <div class="brand-grid_brand">
                <a href="/solas/">
                  <img src="https://res.cloudinary.com/www-savvyboater-com/image/upload/f_auto,q_auto:good/v1558637081/products/solas-logo.jpg" alt="Solas Boat Propellers Logo" data-pin-nopin="true">
                </a>
                <ul>
                  <li>Includes:</li>
                  <strong><li>Boat Propellers</li></strong>
                </ul>
              </div>
              <div class="brand-grid_brand">
                <a href="/springfield/">
                  <img src="https://www.savvyboater.com/product_images/brand_page_logos/springfield-logo.jpg" alt="Springfield Boat Covers Logo" data-pin-nopin="true">
                </a>
                <ul>
                  <li>Includes:</li>
                  <strong><li>Cruiser & Runabout Seats</li>
                  <li>Offshore Boat Seats</li>
                  <li>Seat Pedestals</li></strong>
                </ul>
              </div>
              <div class="brand-grid_brand">
                <a href="/taylor-made/">
                  <img src="https://res.cloudinary.com/www-savvyboater-com/image/upload/f_auto,q_auto:good/v1558637140/products/taylor-made-logo.jpg" alt="Taylor Made Boat Fenders and Buoys Logo" data-pin-nopin="true">
                </a>
                <ul>
                  <li>Includes:</li>
                  <strong><li>Boat Fenders</li>
                  <li>Buoys</li></strong>
                </ul>
              </div>
              <div class="brand-grid_brand">
                <a href="/todd/">
                  <img src="https://res.cloudinary.com/www-savvyboater-com/image/upload/f_auto,q_auto:good/v1558637172/products/todd-logo.jpg" alt="Todd Boat Seats Logo" data-pin-nopin="true">
                </a>
                <ul>
                  <li>Includes:</li>
                  <strong><li>Offshore Boat Seats</li>
                  <li>Cooler Seats</li>
                  <li>Pontoon Tables</li>
                  <li>Seat Pedestals</li></strong>
                </ul>
              </div>
              <div class="brand-grid_brand">
                <a href="/westland-boat-covers-bimini-tops/">
                  <img src="https://res.cloudinary.com/www-savvyboater-com/image/upload/f_auto,q_auto:good/v1558637208/products/westland-logo.jpg" alt="Westland Boat Covers and Bimini Tops Logo" data-pin-nopin="true">
                </a>
                <ul>
                  <li>Includes:</li>
                  <strong><li><a href="/westland-boat-covers/">Boat Covers</a></li>
                  <li><a href="/westland-bimini-tops/">Bimini Tops</a></li></strong>
                </ul>
              </div>
              <div class="brand-grid_brand">
                <a href="/wise/">
                  <img src="https://res.cloudinary.com/www-savvyboater-com/image/upload/f_auto,q_auto:good/v1558637257/products/wise-logo.jpg" alt="Wise Boat Seats" data-pin-nopin="true">
                </a>
                <ul>
                  <li>Includes:</li>
                  <strong><li>Cruiser & Runabout Seats</li>
                  <li>Fishing Boat Seats</li>
                  <li>Offshore Boat Seats</li>
                  <li>Pontoon Furniture</li></strong>
                </ul>
              </div>
                <div class="brand-grid_brand">
                <a href="/navigloo/">
                  <img src="https://res.cloudinary.com/www-savvyboater-com/image/upload/f_auto,q_auto:good/v1558637299/products/navigloo-logo.png" alt="Navigloo Boat Shelters" data-pin-nopin="true">
                </a>
                <ul>
                  <li>For:</li>
                  <strong><li>Pontoon Boats</li>
                  <li>Fishing Boats</li>
                  <li>Cuddy Cabin Boats</li>
                  <li>Runabout Boats</li></strong>
                </ul>
              </div>
                
                <div class="brand-grid_brand">
                <a href="/powertech-boat-propellers/">
                  <img src="https://res.cloudinary.com/www-savvyboater-com/image/upload/f_auto,q_auto:good/v1558637333/products/power-tech-logo.png" alt="PowerTech Boat Propellers" data-pin-nopin="true">
                </a>
                <ul>
                  <li>Includes:</li>
                  <strong><li>Outboard</li>
                  <li>Sterndrive</li></strong>
                </ul>
              </div>
             
            </div>
</main>
{{/partial}}
{{> layout/base}}
