<div class="bnr">
    <h1 style="display:none">Discount Boat Supplies and Accessories | SavvyBoater</h1>
    <div class="innerheader">
        <div class="sliderOverlay">
                <div class="overlay_text">
                    <div class="icon_img">
                        <img src="https://res.cloudinary.com/www-savvyboater-com/image/upload/q_auto:good/v1558463822/homepage/anchor-icon.png" alt="Discount Boat Supplies and Accessories at SavvyBoater" title="Discount Boat Supplies and Accessories at SavvyBoater">
                    </div>
                    
                    <h2>SUMMER SPECIAL!</h2>
                    <p class="icon_img">
                        <font size="4">10% OFF WESTLAND <br>
                        BOAT COVERS & BIMINI TOPS<br><br><font size="3"><strong>WLSALE10</strong> (7/1 - 9/30)</font>
                        
                   <!--
                    <h2>LOW PRICES!</h2>
                    <p class="icon_img">
                        <br>
                        <font size="6">Get Your Boat <br>
                        Ready For<br>SUMMER
                        <br><br> -->
                    </p>
                </div>
        </div>   
    </div>
</div>
<div class="clear"></div>
