<div class="bnr">
    <div class="innerheader">
        <div class="sliderOverlay">
                <div class="overlay_text">
                    <div class="icon_img">
                        <img src="https://res.cloudinary.com/www-savvyboater-com/image/upload/q_auto:good/v1558463822/homepage/anchor-icon.png" alt="icon">
                    </div>
                    <h2>LOW PRICES!</h2>
                    <p class="icon_img">
                        <br>
                        <font size="6">Get Your Boat <br>
                        Ready For<br>SUMMER
                        <br><br>
                    </p>
                </div>
        </div>   
    </div>
</div>
<div class="clear"></div>
