<div class="productView-description" {{#if settings.data_tag_enabled}} data-event-type="product" {{/if}}>
    {{{product.description}}}
    {{{snippet 'product_description'}}}
</div>
<div class="Block Moveable Panel" id="ProductReviews">
    <div id="review_header">
    </div>
    <div id="product_page">
    </div>
    <div id="review_image">
        <a href="http://www.shopperapproved.com/reviews/savvyboater.com/" onclick="var nonwin=navigator.appName!='Microsoft Internet Explorer'?'yes':'no'; var certheight=screen.availHeight-90; window.open(this.href,'shopperapproved','location='+nonwin+',scrollbars=yes,width=620,height='+certheight+',menubar=no,toolbar=no'); return false;" target="_blank" rel="nofollow"></a>
    </div>
    <script type="text/javascript">
        $(window).load(function() {
            if(!$('div.merchantheader').length){
                $('div#review_header').prepend('<div class="merchantheader">The reviews shown may include reviews for similiar products, and are not necessarily all for this specific product.</div>');
            }
        });
    </script>
</div>
