<div class="productView" {{#if settings.data_tag_enabled}} data-event-type="product" data-entity-id="{{product.id}}" data-name="{{product.title}}" data-product-category="{{#each product.category}}{{#if @last}}{{this}}{{else}}{{this}}, {{/if}}{{/each}}" data-product-brand="{{product.brand.name}}" data-product-price="{{#if product.price.with_tax}}{{product.price.with_tax.value}}{{else}}{{product.price.without_tax.value}}{{/if}}" data-product-variant="single-product-option"{{/if}}>
{{#each product.reviews.messages}}
        {{#if error}}
            {{> components/common/alert-error error}}
        {{/if}}
        {{#if success}}
            {{> components/common/alert-success success}}
        {{/if}}
    {{/each}}
    <h1 class="productView-title" {{#if schema}}itemprop="name"{{/if}}>{{product.title}}</h1>
    <section class="productView-details">
        <div class="productView-product">
            {{#if product.warranty}}
                <div id="ProductWarranty">
                    <div class="ProductWarrantyContainer">
                        {{{product.warranty}}}
                    </div>
                </div>
            {{/if}}
            {{#if product.call_for_price}}
                <p class="productView-price">
                    <span>{{product.call_for_price}}</span>
                </p>
            {{/if}}
            <div class="productView-price">
                {{#or customer (if theme_settings.restrict_to_login '!==' true)}}
                    {{> components/products/price-product-page price=product.price schema_org=schema}}
                {{else}}
                    {{> components/common/login-for-pricing}}
                {{/or}}
            </div>
            {{{region name="product_below_price"}}}
        </div>
        <div class="productView-options">
            <div class="innerBorder">
                {{#if product.release_date }}
                    <p>{{product.release_date}}</p>
                {{/if}}
                <form class="form addtocartForm" method="post" onsubmit="return addUpsells()" action="{{product.cart_url}}" enctype="multipart/form-data"
                      data-cart-item-add>
                    <input type="hidden" name="action" value="add">
                    <input type="hidden" name="product_id" value="{{product.id}}"/>
                    <div class="productAttributeList" data-product-option-change style="display:none;">
                        {{#each product.options}}
                            {{{dynamicComponent 'components/products/options'}}}
                        {{/each}}
                    </div>
                    <div class="form-field form-field--stock{{#unless product.stock_level}} u-hiddenVisually{{/unless}}">
                        <label class="form-label form-label--alternate">
                            {{lang 'products.current_stock'}}
                            <span data-product-stock>{{product.stock_level}}</span>
                        </label>
                    </div>
                    {{#if product.can_purchase}}
                        {{> components/products/add-to-cart}}
                    {{/if}}
                    {{#if product.out_of_stock}}
                        {{#if product.out_of_stock_message}}
                            {{> components/common/alert-error product.out_of_stock_message}}
                        {{else}}
                            {{> components/common/alert-error (lang 'products.sold_out')}}
                        {{/if}}
                    {{/if}}
                </form>
                {{#if settings.show_wishlistHIDE}}
                    {{> components/common/wishlist-dropdown}}
                {{/if}}
                {{product.detail_messages}}
            </div>
            <div class="innerBorder bottomInnerBorder">
                <dl class="productView-info">
                    {{#if product.shipping}}
                        {{#if product.shipping.calculated}}
                            <dt class="productView-info-name">{{lang 'products.shipping'}}</dt>
                            <dd class="productView-info-value">{{lang 'products.shipping_calculated'}}</dd>
                        {{else}}
                            {{#if product.shipping.price.value '===' 0}}
                                <dd class="productView-info-value freeshippingValue">{{lang 'products.shipping_free'}}</dd>
                            {{else}}
                                <dt class="productView-info-name">{{lang 'products.shipping'}}</dt>
                                <dd class="productView-info-value">{{lang 'products.shipping_fixed' amount=product.shipping.price.formatted}}</dd>
                            {{/if}}
                        {{/if}}
                    {{/if}}
                    {{#if product.availability}}
                        <dt class="productView-info-name">{{lang 'products.availability'}}</dt>
                        <dd class="productView-info-value">{{product.availability}}</dd>
                    {{/if}}
                    <span class="productView-info-name sku-label" {{#unless product.sku}} style="display: none;"{{/unless}}>{{lang 'Item #:'}}</span>
                    <dt class="productView-info-name sku-label"{{#unless product.sku}} style="display: none;"{{/unless}} data-product-sku>{{product.sku}}</dt>
                    <dt class="productView-info-name upc-label"{{#unless product.upc}} style="display: none;"{{/unless}}>{{lang 'products.upc'}}</dt>
                    <dd class="productView-info-value" data-product-upc>{{product.upc}}</dd>
                    {{#if product.condition}}
                        <dt class="productView-info-name">{{lang 'products.condition'}}</dt>
                        <dd class="productView-info-value">{{product.condition}}</dd>
                    {{/if}}
                    {{#all product.weight theme_settings.show_product_weight}}
                        <dt class="productView-info-name">{{lang 'products.weight'}}</dt>
                        <dd class="productView-info-value" data-product-weight>{{product.weight}}</dd>
                    {{/all}}
                    {{#all product.width product.height product.depth theme_settings.show_product_dimensions}}
                        <dt class="productView-info-name">{{lang 'products.width'}}</dt>
                        <dd class="productView-info-value" data-product-width>
                            {{product.width}}
                            {{#if settings.measurements.length '==' 'Centimeters'}}
                            ({{lang 'products.measurement.metric'}})
                            {{else}}
                            ({{lang 'products.measurement.imperial'}})
                            {{/if}}
                        </dd>
                        <dt class="productView-info-name">{{lang 'products.height'}}</dt>
                        <dd class="productView-info-value" data-product-height>
                            {{product.height}}
                            {{#if settings.measurements.length '==' 'Centimeters'}}
                            ({{lang 'products.measurement.metric'}})
                            {{else}}
                            ({{lang 'products.measurement.imperial'}})
                            {{/if}}
                        </dd>
                        <dt class="productView-info-name">{{lang 'products.depth'}}</dt>
                        <dd class="productView-info-value" data-product-depth>
                            {{product.depth}}
                            {{#if settings.measurements.length '==' 'Centimeters'}}
                            ({{lang 'products.measurement.metric'}})
                            {{else}}
                            ({{lang 'products.measurement.imperial'}})
                            {{/if}}
                        </dd>
                    {{/all}}
                    {{#if product.min_purchase_quantity}}
                        <dt class="productView-info-name">{{lang 'products.min_purchase_quantity'}}</dt>
                        <dd class="productView-info-value">{{lang 'products.purchase_units' quantity=product.min_purchase_quantity}}</dd>
                    {{/if}}
                    {{#if product.max_purchase_quantity}}
                        <dt class="productView-info-name">{{lang 'products.max_purchase_quantity'}}</dt>
                        <dd class="productView-info-value">{{lang 'products.purchase_units' quantity=product.max_purchase_quantity}}</dd>
                    {{/if}}
                    {{#if product.gift_wrapping_available}}
                        <dt class="productView-info-name">{{lang 'products.gift_wrapping'}}</dt>
                        <dd class="productView-info-value">{{lang 'products.gift_wrapping_available'}}</dd>
                    {{/if}}

                    {{#if settings.bulk_discount_enabled}}
                        <div class="productView-info-bulkPricing">
                            {{> components/products/bulk-discount-rates bulk_discount_rates=product.bulk_discount_rates}}
                        </div>
                    {{/if}}

                </dl>
            </div>
        </div>
        {{{snippet 'product_details'}}}
    </section>

    <section class="ProductThumb productView-images" data-image-gallery>
        <figure class="productView-image"
                data-image-gallery-main
                {{#if product.main_image}}
                data-zoom-image="{{getImage product.main_image 'zoom_size' (cdn theme_settings.default_image_product)}}"
                {{/if}}
                >
            <div class="productView-img-container">
                {{!-- Remove the surrounding a-element if there is no main image. --}}
                {{#if product.main_image}}
                    <a href="{{getImage product.main_image 'zoom_size' (cdn theme_settings.default_image_product)}}">
                {{/if}}

                <img class="productView-image--default lazyload"
                     data-sizes="auto"
                     src="{{cdn 'img/loading.svg'}}"
                     data-src="{{getImage product.main_image 'product_size' (cdn theme_settings.default_image_product)}}"
                     alt="{{product.main_image.alt}}" title="{{product.main_image.alt}}" data-main-image>

                {{#if product.main_image}}
                    </a>
                {{/if}}
            </div>
        </figure>
        <ul class="productView-thumbnails"{{#gt product.images.length 5}} data-slick='{
                "infinite": false,
                "mobileFirst": true,
                "dots": false,
                "slidesToShow": 5,
                "slidesToScroll": 1
            }'{{/gt}}>
            {{#each product.images}}
                <li class="productView-thumbnail">
                    <a
                        class="productView-thumbnail-link"
                        href="{{getImage this 'product_size' (cdn ../theme_settings.default_image_product)}}"
                        data-image-gallery-item
                        data-image-gallery-new-image-url="{{getImage this 'product_size' (cdn ../theme_settings.default_image_product)}}"
                        data-image-gallery-zoom-image-url="{{getImage this 'zoom_size' (cdn ../theme_settings.default_image_product)}}">
                        <img class="lazyload" data-sizes="auto" src="{{cdn 'img/loading.svg'}}" data-src="{{getImage this 'productview_thumb_size' (cdn ../theme_settings.default_image_product)}}" alt="{{this.alt}}" title="{{this.alt}}">
                    </a>
                </li>
            {{/each}}
        </ul>
    </section>
    <article class="productView-description"{{#if schema}} itemprop="description"{{/if}}>
        <div class="Panel" id="ProductTabs">       
            <div class="WriteReviewRight">
                Overall Product Rating: <div id="product_just_stars" class="reg"></div>
            </div>
        </div>
        {{#if theme_settings.show_product_details_tabs}}
            {{> components/products/description-tabs}}
        {{else}}
            {{> components/products/description}}
        {{/if}}
    </article>
</div>

<div id="previewModal" class="modal modal--large" data-reveal>
    <a href="#" class="modal-close" aria-label="{{lang 'common.close'}}" role="button">
        <span aria-hidden="true">&#215;</span>
    </a>
    <div class="modal-content"></div>
    <div class="loadingOverlay"></div>
</div>
